{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<a href="{{url_for('showItemsInCategory', category = category.name)}}">
				<h1>{{category.name}}</h1>
			</a>
		</div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	      	{% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Catalog Items</h2>
					{% for item in items %}
						<div class="catalog-item">
							<a href='{{url_for('viewCatalogItem', category=category.name, item=item.name )}}'><h3>{{item.name}}</h3></a>
							 {%if item.user.username == session['username'] %}
							<a href='{{url_for('editCatalogItem', item=item.name ) }}'>Edit</a> | 
							<a href='{{url_for('deleteItem', item=item.name ) }}'>Delete</a>
							{% endif %}
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
