{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<a href="{{url_for('showItemsInCategory', category = category.name)}}">
				<h1>{{category.name}}</h1>
			</a>
		</div>
	</div>

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('addNewCatalogItem' )}}">
				<button class="btn btn-default" id="new-catalog-item">
					<span class="glyphicon glyphicon-music" aria-hidden="true"></span>Add Catalog Item
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Catalog Items</h2>
					{% for i in items %}
						<div class="catalog-item">
							<a href='{{url_for('viewCatalogItem', category=category.name, item=i.name )}}'><h3>{{i.name}}</h3></a>
							<a href='{{url_for('editCatalogItem', item=i.name ) }}'>Edit</a> | 
							<a href='{{url_for('deleteItem', item=i.name ) }}'>Delete</a>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
